    .blog {
        margin-inline: auto;
        margin-top: 3rem;
    }

    .blog h1, h2, h3, h4 {
        font-family: "Shizuru", system-ui;
    }


    img {
        max-width: 100%;
        height: auto;
        margin-top: 2rem;
        /* margin-bottom: 0.5rem; */
        border-radius: 0.5rem;
    }

    .blog-img {
        margin-inline: 0;
    }

    .blog-img figcaption p {
        color: #696969;
        text-align: center;
        font-size: 0.8rem;
        font-style: italic;
        margin-bottom: 1.5rem;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }

    .entry-desc {
        font-style: italic;
        color: #717171;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .title-img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 0rem;
        margin: 0 0 2rem 0;
    }

    .blog-body {
        margin-inline: auto;
        background-color: var(--bg-color);
    }

    .blog-body .entry-title {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        border-left: 3px solid rgb(170, 135, 40);
        padding-left: 1rem;
    }

    .blog-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 1.3rem;
        font-size: 0.8rem;
        color: #696969;
    }

    .blog-header ul li {
        display: inline;
        margin-right: 1rem;
    }

    .blog-header ul>.right {
        margin: 0;
        font-style: italic;
    }

    .blog-body p {
        font-size: 1.08rem;
        word-spacing: 0.1rem;
        line-height: 1.5rem;
    }

    .blog-body h3 {
        margin-bottom: 0.5rem;
    }

    .blog-body h3+p {
        margin-top: 0;
    }

    .blog-body a {
        color: rgb(170, 135, 40);
    }

    .blog-body a:visited {
        color: rgb(170, 135, 40);
    }

    blockquote {
        border-left: 2px solid grey;
        margin-left: 0;
        padding: 0.2rem 0 0.2rem 1rem;
        font-style: italic;
    }

    @media (width <=500px) {

        .blog {
            max-width: unset;
            margin-top: 3rem;
        }

        .blog-body p {
            font-size: 1rem;
        }
    }

    @media (500px < width <=1000px) {

        .blog {
            max-width: unset;
        }

        .entry-desc {
            margin-top: 3rem;
            margin-bottom: 1.5rem;
        }
    }