@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
	box-sizing: border-box;
	/* font-size: 16px; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Lato", sans-serif;
	margin: 5% auto;
	max-width: 60%;
	color: #2f2f2f;
	background-color: #ededed;
}

mark {
	--mark-color: #f8db75;
	--mark-skew: 0.25em;
	--mark-height: 1em;
	--mark-overlap: 0.3em;

	margin-inline: calc(var(--mark-overlap) * -1);
	padding-inline: var(--mark-overlap);

	background-color: transparent;
	background-image:
		linear-gradient(to bottom right,
			transparent 50%,
			var(--mark-color) 50%),
		linear-gradient(var(--mark-color),
			var(--mark-color)),
		linear-gradient(to top left,
			transparent 50%,
			var(--mark-color) 50%);
	background-size:
		var(--mark-skew) var(--mark-height),
		calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
		var(--mark-skew) var(--mark-height);
	background-position:
		left center,
		center,
		right center;
	background-repeat: no-repeat;
	color: #2f2f2f;
}

@media (width <= 450px) {
	body {
		max-width: unset;
		padding: 1rem;
	}
}

@media (450px < width <= 650px) {
	body {
		max-width: unset;
		padding: 1rem;
	}
}