.newspaper {
    background-color: #f9f7f1;
    background-color: #F5F2E8;
    background-color: #e2e2e2;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    max-width: 70%;
    margin-inline: auto;
    font-family: 'Source Serif 4', serif;
}

.ns-header {
    text-align: center;
    font-family: 'Caslonia', serif;
    font-size: 5rem;
}

.ns-subhead {
    text-align: center;
    border-top: 2px solid #2f2f2f;
    border-bottom: 2px solid #2f2f2f;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.ns-subhead p {
    margin: 0;
    font-size: 0.8rem;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 0.2rem;
    
}

.collumns {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80%;
    margin-inline: auto;
    text-align: justify;
}


.collumns:nth-child(even) {
    flex: 2;
}

.collumns P {

    font-size: 0.8rem;
}

.ns-main-body h3 {
    font-family: 'Caslonia';
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.ns-main-body p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.ns-main-body p::first-letter {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}

.ns-main-body img {
    margin-bottom: auto;
    display: block;
    margin-inline: auto;
    max-width: 100%;
    max-height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 2rem;
}

.ns-main-body a {
    text-decoration: none;
    color: inherit;
}

.ns-main-body a:visited {
    text-decoration: none;
    color: inherit;
}

.ns-main-body a:hover {
    color: grey;
}



@media (width <=1400px) {
    .newspaper {
        max-width: unset;
    }

    .ns-subhead {
        font-size: smaller;
    }

}

@media (width <= 600px) {

    .collumns {
        max-width: 100%;
        margin-inline: auto;
    }

    .ns-main-body h3 {
        font-size: 2rem;
    }

    .ns-main-body img {
        max-width: 80%;
    }

}