---
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "About Me";
const paragraph = false;
const tabTitle = "About";
---

<PageLayout pageTitle={pageTitle} paragraph={paragraph} tabTitle={tabTitle}>
    <p class="cont-paragrap">
        Hello, I am Anirudh. I am the author of the blog "The Blog" (this blog).
        I initially started this as a static webpage which I had linked to my
        instagram hoping people will stumble upon it and find my email so that
        they could connect with me. I know, it sounds strange but I am barely on
        any social platforms and thought this would be a good way to keep in
        touch if someone wanted to.
    </p>

    <p>
        Three days after I published my webpage, my flatmate asked me to put
        something more on it and I told him that I am thinking of staring a blog
        which he encouraged it. Thanks flatmate! I currently live in Bengaluru, I
        work at DevOps. I enjoy going on rides (occasionally) and cafe hopping like
        a healthy Bengalurean. If you are ever in HSR hmu and i'll let you know
        where to actually find me. Thanks a lot for reading my blog. I hope you
        enjoy it as much as I do writing it.
    </p>
</PageLayout>
