---
import PageLayout from "../layouts/PageLayout.astro";
import Newspaper from "../components/Newspaper.astro";
const pageTitle = "Anirudh Aswal";
const tabTitle = "Home";
const paragraph =
	"On the web since 2009. Programmer, OSS Enthusiat, Traveller, Human.";
---

<PageLayout pageTitle={pageTitle} paragraph={paragraph} tabTitle={tabTitle}>
	<div class="home-body">
		<section class="content-body">
			<article class="blog-intro">
				<h2><mark>I write,</mark> not very well</h2>
				<p>
					I have recently started writing blogs. Social media is
					convinitent in staying connected. Unfortunately for me, I
					can not look past the algorithm driven content machines they
					are. Blogs seem simpler. Old school, ad & algorithm free and
					created by a human, No AIs were abused in making of these
					blogs.
				</p>
			</article>
			<Newspaper />
		</section>
	</div>
</PageLayout>

<style>
	.home-body {
		padding: 0rem 0rem 1rem 0rem;
	}
	.home-body h2 {
        font-family: "Shizuru", system-ui;
		font-style: italic;
		margin-top: 0;
	}
	.blog-intro > p {
		font-weight: 400;
		font-style: normal;
		max-width: 80%;
		text-align: justify;
	}

	.blog-intro {
		max-width: 75%;
		margin-bottom: 3rem;
	}

	@media (width <= 500px){
		.home-body h2 {
			margin-top: 0;
			/* font-size: x-large; */
		}
		.blog-intro {
			max-width: 100%;
			margin-bottom: 3rem;
		}

		.blog-intro > p {
			max-width: 100%;
			/* font-size: 0.9rem; */
			text-align: left;
		}
	}
	@media (width <= 1000px){
		.home-body h2 {
			margin-top: 0;
			/* font-size: x-large; */
		}
		.blog-intro {
			max-width: 100%;
			margin-bottom: 3rem;
		}

		.blog-intro > p {
			max-width: 90%;
			/* font-size: 0.9rem; */
			text-align: left;
		}
	}

</style>
