<nav>
    <ul class="navbar primary">
        <li class=""><a href="/">home</a></li>
        <li class=""><a href="/blog/">blog</a></li>
        <li class=""><a href="">work</a></li>
        <li class="responsive">
            <a href="https://github.com/jupeeter8">github</a>
        </li>
    </ul>
    <ul class="navbar secondary">
        <li class="menu-toggle-wrapper">
            <button
                role="button"
                id="menu-toggle"
                aria-expanded="false"
                aria-controls="extended-menu">more</button
            >
            <ul class="extended-menu" id="extended-menu">
                <li class="responsive">
                    <a href="https://github.com/jupeeter8">github</a>
                </li>
                <li class="responsive"><a href="/feed">rss</a></li>
                <li class="responsive"><a href="/about">about</a></li>
            </ul>
        </li>
        <li class="responsive"><a href="/feed">rss</a></li>
        <li class="responsive"><a href="/about">about</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }
    .navbar {
        color: inherit;
        display: flex;
        list-style: none;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0%;
        font-size: 1rem;
    }

    .primary {
        gap: 1.5rem;
    }

    .navbar li {
        margin-right: 1.1rem;
    }
    a {
        position: relative;
    }
    a:link {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
        color: inherit;
        font-size: 5rem;
        transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    a:visited {
        color: inherit;
        text-decoration: none;
    }

    .menu-toggle-wrapper {
        position: relative; /* anchor for absolute dropdown */
        display: none;
    }

    .extended-menu {
        position: absolute;
        top: 125%;
        right: 0;
        background-color: var(--secondary-color);
        color: var(--sec-font-color);
        display: none;
        flex-direction: column;
        list-style: none;
        padding: 1rem;
        gap: 1rem;
        min-width: 150px;
        z-index: 1000;
        transform: rotate(-2deg);
        animation: 3s ease-in 0s pop-up;
    }
    .extended-menu.open {
        display: flex;
    }

    .extended-menu.open::after {
        content: "";
        position: absolute;
        border: 1px solid black;
        bottom: 3px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
    }

    button {
        border: none;
        background-color: var(--secondary-color);
        border-radius: 0;
        padding: 0.2rem 0.5rem;
        color: var(--sec-font-color);
    }

    @media (width <= 700px) {
        .navbar {
            justify-content: baseline;
            font-size: smaller;
        }

        .primary {
            gap: 0.5rem;
        }

        .navbar > .responsive {
            display: none;
        }

        .menu-toggle-wrapper {
            display: unset;
        }
    }
</style>

<script>
    const menuButton: any = document.getElementById("menu-toggle");
    const navMenu: any = document.getElementById("extended-menu");

    menuButton.addEventListener("click", () => {
        navMenu.classList.toggle("open");
        menuButton.setAttribute("aria-expanded", "true");
    });
    window.addEventListener("resize", () => {
        if (window.innerWidth > 700) {
            navMenu.classList.remove("open");
            menuButton.setAttribute("aria-expanded", "false");
        }
    });
</script>
