---
import '../styles/newspaper.css'
---
<section class="newspaper head">
    <div class="ns-header">THE BLOG</div>
        <div class="ns-subhead">
            <p>INDIA - SATURDAY NOVEMBER 22 2025, 12 Pages</p>
        </div>
        <div class="content">

            <section class="collumns left">
                <div class="ns-side-content">The newest edition of the blog is out now featuring Some great new advancements that are hard to ingore Some great new advancements that are hard to ingore Some great new advancements that are hard to ingore</div>
                <div class="ns-side-content">The newest edition of the blog is out now featuring Some great new advancements that are hard to ingore Some great new advancements that are hard to ingore Some great new advancements that are hard to ingore</div>
            </section>

            <section class="collumns">
                <div class="ns-main-body">
                    <a href="https://whereisanirudh.info" id="ns-entry-link">
                    <h3 id="ns-entry-title">Being a part of everything, tiring</h3>
                    <p id="ns-entry-content">One of the battles I frequently find myself in, with myself, is to keep track of all my things. I forget where I put them the moment they leave my hand and when I need them again, I have to go through all possible pockets (pants, bags, walletype.join() - JavaScript - MDN Web Docsts, etc) </p>
                    
                    <div><img src="https://theblog-static.s3.ap-south-1.amazonaws.com/week11/lillylakestairs.JPG" alt=""></div>
                    </a>
                </div>
            </section>
            <section class="collumns">

                <div class="ns-side-content right">Make sure to read through everything since this is the one you dont want to miss</div>
                <div class="ns-side-content right">Oh you wished how you could get this in your termianl? Run <code>curl news.whereisanirudh.info</code></div>
                <div class="ns-side-content right">Out weekly with greatest discourse on the planet</div>
            </section>
        </div>
</section>