---
import '../styles/newspaper.css'
---
<section class="newspaper head">
    <div class="ns-header">THE BLOG</div>
        <div class="ns-subhead">
            <p>INDIA - SATURDAY NOVEMBER 22 2025, 12 Pages</p>
        </div>
        <div class="content">

            <section class="collumns">
                <div class="ns-side-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, modi culpa nobis libero dolorum magnam. Assumenda, alias commodi nisi est ut exetype.join() - JavaScript - MDN Web Docsrcitationem voluptates adipisci ea, tempora eius praesentium laudantium rem.

                </div>
                <div class="ns-side-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit reprehenderit natus ut reiciendis harum, eius exercitationem voluptates, repellendus corporis esse minus? Tempora error itaque maiores provident hic similique, repellat placeat.
                </div>
                <div class="ns-side-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore deleniti quo itaque veniam tempore laboriosam, ipsum perferendis in ratione eaque sed doloremque quasi magnam, consequatur, ea quod voluptatum voluptatibus.
                </div>
            </section>

            <section class="collumns">
                <div class="ns-main-body">
                    <a href="https://whereisanirudh.info" id="ns-entry-link">
                    <h3 id="ns-entry-title">Being a part of everything, tiring</h3>
                    <p id="ns-entry-content">One of the battles I frequently find myself in, with myself, is to keep track of all my things. I forget where I put them the moment they leave my hand and when I need them again, I have to go through all possible pockets (pants, bags, walletype.join() - JavaScript - MDN Web Docsts, etc) </p>
                    
                    <div><img src="https://theblog-static.s3.ap-south-1.amazonaws.com/week11/lillylakestairs.JPG" alt=""></div>
                    </a>
                </div>
            </section>
            <section class="collumns">

                <div class="ns-side-content right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, modi culpa nobis libero dolorum magnam. Assumenda, alias commodi nisi est ut exercitationem voluptates adipisci ea, tempora eius praesentium laudantium rem.</div>
                <div class="ns-side-content right">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit reprehenderit natus ut reiciendis harum, eius exercitationem voluptates, repellendus corporis esse minus? Tempora error itaque maiores provident hic similique, repellat placeat.
                </div>
                <div class="ns-side-content right">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore deleniti quo itaque veniam tempore laboriosam, ipsum perferendis in ratione eaque sed doloremque quasi magnam, consequatur, ea quod voluptatum voluptatibus.
                </div>
            </section>
        </div>
</section>