name: Deploy Astro site to Pages

on:
  push:
    branches: ["main"]

  workflow_dispatch:



env:
  BUILD_PATH: "." # default value when not using subfolders

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Detect package manager
        id: detect-package-manager
        run: |
            echo "manager=npm" >> $GITHUB_OUTPUT
            echo "command=ci" >> $GITHUB_OUTPUT
            echo "runner=npx --no-install" >> $GITHUB_OUTPUT
            echo "lockfile=package-lock.json" >> $GITHUB_OUTPUT
            exit 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: ${{ steps.detect-package-manager.outputs.manager }}
          cache-dependency-path: ${{ env.BUILD_PATH }}/${{ steps.detect-package-manager.outputs.lockfile }}
      - name: Install dependencies
        run: ${{ steps.detect-package-manager.outputs.manager }} ${{ steps.detect-package-manager.outputs.command }}
        working-directory: ${{ env.BUILD_PATH }}
      - name: Build with Astro
        run: |
            npm run build
        working-directory: ${{ env.BUILD_PATH }}
      - name: Tar output folder
        run: |
          tar -czf output.tar.gz ./dist
        working-directory: ${{ env.BUILD_PATH }}
      - name: Upload output artifact
        uses: actions/upload-artifact@v4
        with:
          name: output.tar.gz
          path: output.tar.gz

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:

      # copy the tar file from the build job
      - name: Copy files from build job
        uses: actions/download-artifact@v4
        with:
          name: output.tar.gz
          path: .
      
      - name: Copy files via SSH
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "output.tar.gz"
          target: /opt/website/astro

      - name: Login to remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Unpack the tar file to the desired location
            tar -xzf /opt/website/astro/output.tar.gz -C /opt/website/astro --strip-components=1
